body {
  margin: 0;
  font-family: Helvetica, Arial;
}

a {
  text-decoration: none;
}


header {
  height: 80px;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  padding: 0 14px;
  margin: 0 7vw;
}

.header-list {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 91.42px;
  height: auto;
  margin-right: auto;
}

.nav_links{
  text-align: center;
  margin: 0 0;
}

.nav_links li{
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  color: #0C6993;
  font-size: 18px;
  font-weight: 500;
}

ul.nav_links{
  padding-inline-start: 0px;
}

.nav_links a{
  color: #0C6993;
}

.nav_links li a:visited{
  color: #0C6993;
}

button{
  padding: 8px 50px;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  background-color: #0C6993;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

.dnl button{
  padding: 7px 40px;
  color: #0C6993;
  font-weight: 500;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  border-style: solid;
  border-color: #0C6993;
  border-width: 1px;
  font-size: 18px;
  margin: 0 16px;
}

.top{
  height: 300px;
  padding: 180px 0 100px 0;
  background-image: url(img/internal/top.png);
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80px;
  color: white;
  text-align: center;
}

.top h1{
  font-size: 40px;
  font-weight: 100;
  text-align: left;
  margin: 10px 28px;
  line-height: 55px;
}

.btn2 a{
  display: block;
  margin-top: 20px;
  margin-left: 28px;
  padding: 8px 20px;
  width: 100px;
  text-align: center;
  color: #0C6993;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #FFFFFF;
}


.brand{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

.brand-logo img{
  max-width: 100%;
  height: auto:
  padding: 14px;
  margin: 0 2px;
}

.product{
  padding-bottom: 2.5%;
}

.product-list{
  text-align: center;
  font-size: 28px;
  color: #0C6993;
  font-weight: 700;
  padding: 0 auto;
  margin: 0 auto;
}

.product-detail{
  color: #393939;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding: 16px 16px;
  margin: 0 auto;
}

.product-info1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  margin-bottom: 1%;
}

.product-info2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  margin-bottom: 2.5%;
}

.product-logo img{
  max-width: 100%;
  height: auto;
  padding: 0 2.5%;
}

.product-logo p{
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1vw;
  color: #00000066;
  padding: 0 2.5%;
  margin: 1% 0 0 0;
}

.benefit{
  height: 480px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.benefit-text{
  height: 480px;
  width: 50%;
  margin-right: 0;
  padding-left: 0;
  background-color: #CEE6F8;
}

.benefit-text h2{
  color: #0C6993;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  padding: 100px 0 0 14px;
  margin-left: 150px;
  vertical-align: middle;
}

.benefit-text p{
  color: #0C6993;
  font-size: 16px;
  font-weight: 100;
  margin-left: 164px;
  line-height: 24px;
  vertical-align: top;
  text-align: left;
  vertical-align: middle;
}

.benefit-image {
  height: 480px;
  width: 50%;
  margin-right: 0;
  padding-left: 0;
  background-color: black;
}


.benefit-image img{
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.clients{
  display: block;
  text-align: center;
  align-items: center;
}

.clients-text{
  font-size: 28px;
  color: #0C6993;
  font-weight: 700;
  padding: 0 auto;
  margin: 0 auto;

}

.clients-detail{
  color: #393939;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  padding: 16px 16px;
  margin: 0 auto;
}

.clients img{
  width: 80%;
}

.pipedriveWebForms{
  margin-top: 14px;
  padding: 30px 14px 14px 0;
  text-align: center;
}

footer {
  position: relative;
  height: 230px;
  background-color: #0C6993;
}

footer a{
  color: white;
}

.company {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  padding-top: 40px;
}

.company-info{
  margin-right: auto;
}

.company-info img {
  width: 91.42px;
}

.company p{
  text-align: left;
  font-size: 18px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 200;
}

.main{
  padding: 0 30px;
  margin-right: 24px;
}
.menu{
  padding: 0 30px;
  margin-right: 24px;
}

.sub-menu{
  padding: 0 30px;
}

.bottom p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: white;
  font-size: 12px;
}
